{# required properties #}
kafkastore.connection.url={{env['SCHEMA_REGISTRY_KAFKASTORE_CONNECTION_URL']}}
host.name={{env['SCHEMA_REGISTRY_HOST_NAME']}}

{# optional properties #}
{% set other_props = {
	'SCHEMA_REGISTRY_LISTENERS': 'listeners',
	'SCHEMA_REGISTRY_AVRO_COMPATIBILITY_LEVEL': 'avro.compatibility.level',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_KEY_PASSWORD': 'kafkastore.ssl.key.password',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_KEYSTORE_LOCATION': 'kafkastore.ssl.keystore.location',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_KEYSTORE_PASSWORD': 'kafkastore.ssl.keystore.password',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_TRUSTSTORE_LOCATION': 'kafkastore.ssl.truststore.location',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_TRUSTSTORE_PASSWORD': 'kafkastore.ssl.truststore.password',
	'SCHEMA_REGISTRY_KAFKASTORE_TOPIC_REPLICATION_FACTOR': 'kafkastore.topic.replication.factor',
	'SCHEMA_REGISTRY_RESPONSE_MEDIATYPE_DEFAULT': 'response.mediatype.default',
	'SCHEMA_REGISTRY_SSL_KEYSTORE_LOCATION': 'ssl.keystore.location',
	'SCHEMA_REGISTRY_SSL_KEYSTORE_PASSWORD': 'ssl.keystore.password',
	'SCHEMA_REGISTRY_SSL_KEY_PASSWORD': 'ssl.key.password',
	'SCHEMA_REGISTRY_SSL_TRUSTSTORE_LOCATION': 'ssl.truststore.location',
	'SCHEMA_REGISTRY_SSL_TRUSTSTORE_PASSWORD': 'ssl.truststore.password',
	'SCHEMA_REGISTRY_RESPONSE_MEDIATYPE_PREFERRED': 'response.mediatype.preferred',
	'SCHEMA_REGISTRY_KAFKASTORE_INIT_TIMEOUT_MS': 'kafkastore.init.timeout.ms',
	'SCHEMA_REGISTRY_KAFKASTORE_SECURITY_PROTOCOL': 'kafkastore.security.protocol',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_ENABLED_PROTOCOLS': 'kafkastore.ssl.enabled.protocols',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_KEYSTORE_TYPE': 'kafkastore.ssl.keystore.type',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_PROTOCOL': 'kafkastore.ssl.protocol',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_PROVIDER': 'kafkastore.ssl.provider',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_TRUSTSTORE_TYPE': 'kafkastore.ssl.truststore.type',
	'SCHEMA_REGISTRY_KAFKASTORE_TIMEOUT_MS': 'kafkastore.timeout.ms',
	'SCHEMA_REGISTRY_MASTER_ELIGIBILITY': 'master.eligibility',
	'SCHEMA_REGISTRY_ACCESS_CONTROL_ALLOW_METHODS': 'access.control.allow.methods',
	'SCHEMA_REGISTRY_SSL_KEYSTORE_TYPE': 'ssl.keystore.type',
	'SCHEMA_REGISTRY_SSL_TRUSTSTORE_TYPE': 'ssl.truststore.type',
	'SCHEMA_REGISTRY_SSL_PROTOCOL': 'ssl.protocol',
	'SCHEMA_REGISTRY_SSL_PROVIDER': 'ssl.provider',
	'SCHEMA_REGISTRY_SSL_CLIENT_AUTH': 'ssl.client.auth',
	'SCHEMA_REGISTRY_SSL_ENABLED_PROTOCOLS': 'ssl.enabled.protocols',
	'SCHEMA_REGISTRY_ACCESS_CONTROL_ALLOW_ORIGIN': 'access.control.allow.origin',
	'SCHEMA_REGISTRY_DEBUG': 'debug',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_CIPHER_SUITES': 'kafkastore.ssl.cipher.suites',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM': 'kafkastore.ssl.endpoint.identification.algorithm',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_KEYMANAGER_ALGORITHM': 'kafkastore.ssl.keymanager.algorithm',
	'SCHEMA_REGISTRY_KAFKASTORE_SSL_TRUSTMANAGER_ALGORITHM': 'kafkastore.ssl.trustmanager.algorithm',
	'SCHEMA_REGISTRY_KAFKASTORE_ZK_SESSION_TIMEOUT_MS': 'kafkastore.zk.session.timeout.ms',
	'SCHEMA_REGISTRY_METRIC_REPORTERS': 'metric.reporters',
	'SCHEMA_REGISTRY_METRICS_JMX_PREFIX': 'metrics.jmx.prefix',
	'SCHEMA_REGISTRY_METRICS_NUM_SAMPLES': 'metrics.num.samples',
	'SCHEMA_REGISTRY_METRICS_SAMPLE_WINDOW_MS': 'metrics.sample.window.ms',
	'SCHEMA_REGISTRY_REQUEST_LOGGER_NAME': 'request.logger.name',
	'SCHEMA_REGISTRY_ZK_NAMESPACE': 'schema.registry.zk.namespace',
	'SCHEMA_REGISTRY_SHUTDOWN_GRACEFUL_MS': 'shutdown.graceful.ms',
	'SCHEMA_REGISTRY_SSL_KEYMANAGER_ALGORITHM': 'ssl.keymanager.algorithm',
	'SCHEMA_REGISTRY_SSL_TRUSTMANAGER_ALGORITHM': 'ssl.trustmanager.algorithm',
	'SCHEMA_REGISTRY_SSL_CIPHER_SUITES': 'ssl.cipher.suites',
	'SCHEMA_REGISTRY_SSL_ENDPOINT_IDENTIFICATION_ALGORITHM': 'ssl.endpoint.identification.algorithm'
 } -%}

 {% for k, property in other_props.iteritems() -%}
 {% if env.get(k) != None -%}
 {{property}}={{env[k]}}
 {% endif -%}
 {% endfor -%}
