.DS_Store
venv
__pycache__
*.pyc
*ipynb*
*cache*
.idea
*.csr
*.srl
*.req
*.log
*.jar
Untitled*
docs/_build
docs/README.md
target
.idea
*.iml
local.make
java/.classpath
java/.project
java/.settings/
.vscode/*
