group.id=ssl-host
ssl.truststore.location=/etc/kafka/secrets/kafka.consumer.truststore.jks
ssl.truststore.password=confluent

ssl.keystore.location=/etc/kafka/secrets/kafka.consumer.keystore.jks
ssl.keystore.password=confluent

ssl.key.password=confluent
ssl.endpoint.identification.algorithm= 

security.protocol=SSL
